.cats-images-container {
    /* box-sizing: border-box; */
    background-color: blue;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    width: 1030px;
    padding: 0;
    border: 0;
    /* margin: 10px; */
    gap: 10px;

    .cat-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        min-height: 250px;
        background-color: red;
    }
}


